:root{
    --cyan: hsl(179, 62%, 43%);
    --bright-yellow: hsl(71, 73%, 54%);
    --light-gray: hsl(204, 43%, 93%);
    --grayish-blue: hsl(218, 22%, 67%);
    --margin-bottom-default: 1rem;
}

*::after,
*::before,
*{
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Karla', sans-serif;
    background-color: var(--light-gray);
}

img{
    max-inline-size: 100%;
    max-block-size: 100%;
}

.backgroud-white{
    background-color: white;
    border-radius: .5rem .5rem 0 0;
}

.backgroud-cyan{
    background-color: var(--cyan);
}

.backgroud-cyan-light{
    background-color: color-mix(in srgb, var(--cyan), transparent 30%);
    border-radius: 0 0 .5rem .5rem;

}

.title-secondary{
    font-weight: 400;
}

.title-cyan{
    color: var(--cyan);
}

.text-yellow{
    color: var(--bright-yellow);
    font-weight: 700;
}

.margin-bottom{
    margin-bottom: var(--margin-bottom-default);
}

.text-gray{
    color: var(--grayish-blue);
    line-height: 2;
    font-weight: 400;
}

.text-align-left{
    text-align: left;
    width: 70%;
}


h2{
    font-weight: 700;
    margin-bottom: var(--margin-bottom-default);
}

h2.margin-double{
    margin-bottom: calc(var(--margin-bottom-default)*1.5)
}

.container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin: 0 auto;
    max-width: 800px;
    padding: 1rem;
}

.container > *{
    grid-column: span 12;
}

.card{
    padding: 1.5rem 1rem;
    color: white;
}


.price{
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: calc(var(--margin-bottom-default)/2);
}

.price-description{
    font-size: 1.1rem;
    margin-bottom: calc(var(--margin-bottom-default)*1.5);
}

.sign-up{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem 2rem;
    background-color: var(--bright-yellow);
    text-align: center;
    border-radius: .5rem;
}


.sign-up a{
    text-decoration: none;
    color: white;
}

.text-small{
    font-weight: 400;
    font-size: 1rem;
    color: color-mix(in srgb, white, transparent);
}

.list-why-us{
    list-style-type: none;
    color: color-mix(in srgb, white, transparent); 

}

.list-why-us li{
    margin-bottom: .2rem;
    font-size: 1.1rem;
}


@media screen and (min-width: 48rem){
    .container{
        grid-template-rows: repeat(2, 1fr);
    }

    .card{
        padding: 2rem;
    }

    .col-12-md{
        grid-column: span 12;
    }

    .col-6-md{
        grid-column: span 6;
    }

    .backgroud-cyan-light{
        border-radius: 0 0 .5rem 0;
    }

    .backgroud-cyan{
        border-radius: 0 0 0 .5rem;
    }
}
